.App {
	text-align: center;
	width: 100%;
	z-index: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.LoginButton{
	float: right;
	margin-right: 25px;
	background-color: grey;
	color: antiquewhite;
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}

.Header {
	font-family: sans-serif;
	width: 100%;
	text-align: left;
	background-color: #383838;
	color: gray;
	position: fixed;
	top: 0;
	font-size: 20px;
}
.Header a {
	float: right;
	padding: 7px 15px;
}
.Header a:link, a:visited{
	color: grey;
	text-decoration: none;
	padding: 7px 15px;
}
.Header a:hover{
	background-color: rgb(221, 221, 221);
	color: #383838;
	padding: 7px 15px;
}
.container{
	padding: 30px;	
	margin-top:5%;
	align-content: center;
	margin-left: 40%;
	margin-right: 40%;
	width: auto;
	z-index: 1;
	border: 1px solid grey;
}
.Home{
	background-color: whitesmoke;
	color: #313131;
	width: 100%;
	height: 100%;
}
.Homediv{
	width: 100%;
	margin-top: 50px;
	background-color: rgb(221, 221, 221);;
	color: darkslateblue;
	height: 100%;
}
.Homediv h1{
	padding-top: 2%;
}
.row{
	margin-bottom: 30px;
}
.row button{
	margin-right: 52px;
}

.postDiv{
	
	padding: 0px 50px 50px 50px;
}
.postDiv_row{
	z-index: 0;
	padding: 5px;
}
.postDiv_row textarea{
	resize: none;
	width: 50%;
	padding: 5px;
	background-color: transparent;
	border: 3px solid #555555;
	border-radius: 4px;
}
.button{
	padding: 7px 12px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.04s;
	cursor: pointer;
	background-color: white;
	color: black;
	border-radius: 4px;
	border: 2px solid #555555;
}
.FeedDiv {
	color: darkslateblue;
}
.item {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: white;
	padding: 0.5%;
	border: 2px solid #bbbbbb;
	border-radius: 2px;
	margin:4% 20%;
}
.item-row{
	text-align: left;
	color: #313131;
}
.item-row p{
	font-size: 14px;
	color: #383838;
}
.item-row button{
	padding: 4px 8px;
}
.UName {
	font-size: 20px;
	margin-right: 50px;
}
.UDT {
	font-size: 15px;
	margin-right: 50px;
}